.project_section {
  padding: 5rem 0;  
    font-family: 'OutfitRegular';
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.section_title {
  font-size: 2.5rem; 
  margin-bottom: 2rem;
    font-family: 'OutfitMedium';
  text-align: center; /* better for responsiveness */
}

.projects_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.projects_card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.projects_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects_title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 20px;
  margin-top: 10px;
}

.projects_desc {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 0.8rem;
  margin-left: 20px;
}

 

@media (min-width:1024px) {
  .project_section{
    padding: 7rem 0;
  }
}