.section {
  padding: 5rem 0;
    font-family: 'OutfitRegular';
}

.container { 
  padding: 0 1rem;
}

.section_title {
  text-align: center;
  font-size: 2.5rem;  
    font-family: 'OutfitMedium';
}

.purchase_message {
    font-size: 1rem; 
    padding: 1rem 0;
    text-align: center;
}

 .shop_card {
  width: 310px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px auto;
  height: 520px;
}

.shop_image {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 5px;
}

.card_content {
  padding: 20px;
}

.card_title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.card_description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.card_price {
  font-size: 18px;
  font-weight: bold;
  color: #e53935;
  margin-bottom: 15px;
}

.card_button {
  background: #e53935;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.card_button:hover {
  background: #c62828;
}


@media (min-width:1024px) {
  .section{
    padding: 7rem 0;
  }
}